@font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(5px);
}

.group:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.shadow-3xl {
    box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.2);
}

.shadow-lg {
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.15);
}

.fixed-width {
    min-width: 24rem;
    max-width: 24rem;
}

#canvas-container {
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#network-loader {
    display: block;
}

canvas {
    display: none;
    width: 100%;
    height: 100%;
}